:root {
    --primary-color: #e34444;
    --text-color: #666666 ;
    --black-color: #333333 ;
    --white-color: #fff;
}
*{
    padding: 0px;
    margin: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
.grid {
    width: 1200px;
    max-width: 100%;
    margin: auto;
    padding: 0 15px;
}
.grid__full-width {
    width: 100%;
}
.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.grid__column-6 {
    width: 50%;
    padding: 0 15px;
}
.grid__column-2-4 {
    width: 20%;
    padding: 0 10px;

}
.grid__row-2-4 {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}
.grid__column-4 {
    width: 33.3333%;
    padding: 0 15px;
}
.grid__column-3 {
    width: 25%;
    padding: 0 15px;
}
.grid__column-1-08 {
    width: 11.1111%;
    padding: 0 10px;
}
.section {
    margin-bottom: 55px;
}
.arrow-btn {
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 20px 22px;
    font-size: 1.8rem;
    border-radius: 50%;
    color: #cdcdcd;
    background-color: var(--white-color);
    border: 1px solid #eaeaea;
}